@import url(./components/footer.css);


/* @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap'); */


/* jeigu fontas turi 100-400 stilius,  siaip kuo maziau tureti font failu*/
/* @font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
prideti i font style italic 
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Light.ttf');
    font-weight: 300;
    font-style: italic;
}  */
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Regular.ttf');
}

body,
body *{
    margin: 0;
    padding: 0;
    vertical-align: baseline; /*default*/
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.133);
    margin-bottom: 1rem;
}

.main-header > .logo{
    height: 3rem;


}
.main-header > .stats {
    display:flex;
    align-items: center;
    gap: 2rem;

}
.main-header .detail{
    display:flex;
    gap:0.2em;
    align-items: baseline;

}
.main-header .label {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.main-header .value{
    font-family: "Marcellus", serif;
    font-weight: normal;
    font-size: 1rem;
}

main {
    min-height: calc(100vh - 12rem);
}


@media (min-width: 40rem ) {
    .main-header .label{
        display: block;
    }
}
  
