@import url(./components/footer.css);
@import url(./components/header.css);


/* @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap'); */


/* jeigu fontas turi 100-400 stilius,  siaip kuo maziau tureti font failu*/
/* @font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
prideti i font style italic 
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Light.ttf');
    font-weight: 300;
    font-style: italic;
}  */
@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Regular.ttf');
}

body,
body *{
    margin: 0;
    padding: 0;
    vertical-align: baseline; /*default*/
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}


main {
    min-height: calc(100vh - 12rem);
}



  
