/* @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap'); */


@font-face {
    font-family: "Marcellus";
    src: url('../fonts/Marcellus_SC/MarcellusSC-Regular.ttf');
}

body,
body *{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}
  
